body {
    min-height: 50%;
}

.invalidFeedback {
    color: red;
}

/* ------------------- navbar ------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #ddd;
    overflow: hidden;
    margin: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #333;
    color: #f2f2f2;
}

/* ------------------- end navbar ------------------------- */

/* ------------------- leftMenu ------------------------- */
#leftMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ddd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#leftMenu .mainNav {
    margin-top: 10px;
}

#leftMenu .mainNav a {
    margin-bottom: 10px;
}

#leftMenu a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.4s;
    text-align: left;
}

#leftMenu .inner-menu {
    margin-left: 10px;
    font-size: smaller;
}

#leftMenu .btn-area {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
}

#leftMenu hr {
    background-color: #000;
    margin: 1rem 0;
}
/* ------------------- end leftMenu ------------------------- */

/* ------------------- dashboard header ------------------------- */
.dashboard-freelancer-header {
    background-color: #055b7b;
}

.dashboard-client-header {
    background-color: #27383e;
}

.dashboard-client-header-text {
    text-align: right;
    font-size: small;
    color: white;
    /* margin-right: 10px; */
    padding: 5px 10px;
    margin-bottom: 0;
}
/* ------------------- end dashboard header ------------------------- */

/* ------------------- simple utilities ------------------------- */

.rounded-corners {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
}

.background-color-gray {
    background-color: #f2f2f2;
}

.background-color-gray hr {
    border-top: 1px solid lightgray !important;
}

.background-color-white {
    background-color: white;
}

@media (max-width: 40rem) {
    .center-self-on-screen {
        margin: auto !important;
        display: flex !important;
    }

    .center-text-on-small-screen {
        text-align: center !important;
    }
}

@media (min-width: 40rem) {
    .float-right-on-large-screen {
        float: right !important;
    }
}

.button-red {
    background-color: red !important;
    border-color: red !important;
}

@media (min-width: 40rem) {
    .quarter-screen-size-image {
        max-width: 25vw !important;
    }
}

/* ------------------- end simple utilities ------------------------- */

/* ------------------- pagination ------------------------- */

.pagination {
    /* display: inline-block; */
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #9b4dca;
    color: white;
    border: 1px solid #9b4dca;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* ------------------- end pagination ------------------------- */

/* ------------------- alert ------------------------- */
.alert {
    padding: 20px;
    background-color: #2196f3;
    color: white;
    margin-bottom: 5px;
    margin-top: 15px;
}

.alert.danger {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 5px;
    margin-top: 15px;
}

.alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-closebtn:hover {
    color: black;
}
/* ------------------- end alert ------------------------- */

/* ------------------- freelancer ------------------------- */

@media (min-width: 40rem) {
    .freelancer-list-image {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .freelancer-list-text {
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }
}

/* ------------------- end freelancer ------------------------- */
